[Desktop Entry]
Name=Nova ChatMix
Exec=/home/poppolouse/.local/bin/cosmic-applet-nova-chatmix
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=COSMIC
Icon=audio-headphones-symbolic
Categories=AudioVideo;Audio;Utility;
Keywords=Nova;ChatMix;SteelSeries;Audio;Headset;
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
