[Desktop Entry]
Name=Nova ChatMix
Exec=cosmic-applet-nova-chatmix
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=COSMIC
Icon=audio-headphones-symbolic
Categories=COSMIC;Audio;Utility;
Keywords=Nova;ChatMix;SteelSeries;Audio;Headset;
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
